body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #000000;
  max-width: 1000px;
  margin: auto;
}

li {
  color: white;
}

code {
    color: white;
}

h1 {
  color: #c9d1d9;
  animation: auroraText 10s ease-in-out alternate infinite;
  font-size: 4.5rem;
}

p {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

a:link {
  color: #58a6ff;
}

a:visited {
  color: #8e96f0;
}


.no-link-underline {
  text-decoration: none;
}


/* aurora animations */
@keyframes auroraBorder {
  0% {box-shadow: 0px -5px 15px rgba(128, 0, 94, 0.8), 0px 4px 15px rgba(32, 220, 241, 0.8);}
  33.33% {box-shadow: 0px 4px 12px rgba(127, 29, 218, 0.8), 5px 10px 25px rgba(241, 32, 32, 0.8);}
  66.66% {box-shadow: 0px 0px 25 rgba(29, 218, 130, 0.8), 15px 5px 15px rgba(255, 0, 255, 0.8);}
  100% {box-shadow: 0px -5px 15px rgba(76, 29, 218, 0.8), 0px 4px 15px rgba(241, 123, 32, 0.8);}
}

@keyframes auroraText {
  0% {text-shadow: 0px -15px 15px rgba(128, 0, 94, 0.8), 0px -4px 15px rgba(32, 220, 241, 0.8);}
  33.33% {text-shadow: 0px 4px 12px rgba(127, 29, 218, 0.8), 5px -10px 25px rgba(241, 32, 32, 0.8);}
  66.66% {text-shadow: 0px 0px 50px rgba(29, 218, 130, 0.8), 15px -5px 15px rgba(255, 0, 255, 0.8);}
  100% {text-shadow: 0px -15px 15px rgba(76, 29, 218, 0.8), 0px -4px 15px rgba(241, 123, 32, 0.8);}
}

.clock-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.clock-widget {
    flex-grow: 0;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid rgba(138, 138, 138, 0.484);
}

.clock-widget:hover {
    background-color: #222222;
}

.desc {
    display: none;
}

.clock-widget:hover .desc {
    display: block;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.topnav .nav-icon-links a {
  display: inline-block;
  text-align: center;
  width: 4rem;
  padding: 8px;
}

/* Style the links inside the navigation bar */
.topnav .nav a {
  float: left;
  background-color: #1d0648;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: bold;
  margin: 5px;
  transition: 0.3s;
}

/* Change the color of links on hover */
.topnav .nav a:hover {
  background-color: #ddd;
  color: black;
  translate: 0em 0.25em;
  transition: 0.3s;
}

/* Add a color to the active/current link */
.topnav .nav a.active {
  background-color: #5404aa;
  color: white;
}

.topnav .nav a.visited {
  color: white;
}

.topnav .nav a span {
  vertical-align: top;
}
