body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #000000;
  /* max-width: 1000px; */
  margin: auto;
  display: flex;
}

.body2 {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

li {
  color: white;
}

h1 {
  color: #c9d1d9;
  animation: auroraText 10s ease-in-out alternate infinite;
  font-size: 4.5rem;
}

p {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

a:link {
  color: #58a6ff;
}

a:visited {
  color: #8e96f0;
}
.no-link-underline {
  text-decoration: none;
}

.languages {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  /* width: 100%;
  margin-bottom: 10px;
  gap: 10px; */
}

.languages i {
  font-size: 2em;
  color: white;
}

.project-box {
  display: flex;
  border-radius: 25px;
  transition: 0.3s;
  border: 1px solid rgba(138, 138, 138, 0.484);
  flex: 1 1 auto;
}

.project-box:hover {
  translate: 0em 0.25em;
  transition: 0.3s;
  /* animation: auroraBorder 10s ease-in-out alternate infinite; */
}

.project-box img {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 50px;
}

.project-box svg {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 50px;
}

.project-box-container {
  padding: 10px;
}

.canva-div {
    width: 100%;
    /* height:200%; */
    /* height: 500px; */
    /* padding-top: 46%; */
    /* border: 1px solid rgba(138, 138, 138, 0.484); */
    /* border-radius: 25px; */
    /* transition: 0.3s; */
    /* padding: 2em; */
    flex-basis: 100%;
}
#canva-iframe {
    width: 100%;
    height: 200%;
    border: none;
    border-radius: 25px;
}
