body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #0d1117;
    }

    h1 {
        color: white;
    }

    p {
        color: white;
    }

    .frosted {
        transition: 0.1s;
        background: rgba(0, 0, 0, 0.09);
    }
    .frosted:hover {
        transition: 0.1s;
        background: rgba(0, 0, 0, 0.49);
    }

    #timerDiv {
        border: 2px solid white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ffffff;
    }

    h1 {
        color: black;
    }

    p {
        color: black;
    }

    .frosted:hover {
        transition: 0.1s;
        background: rgba(255, 255, 255, 0.09);
    }
    .frosted {
        transition: 0.1s;
        background: rgba(255, 255, 255, 0.49);
    }

    #timerDiv {
        border: 2px solid black;
    }
}

#subbody {
    width: 33%;
    /* margin: auto; */
}

#leftsubbody {
    width: 33%;
    /* margin: auto; */
}

#rightsubbody {
    width: 33%;
}

#cubeimg {
    width: 400px;
    height: 300px;
}

.flexbox {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.space-between {
    justify-content: space-between;
    gap: 20px;
}

.frosted {
    padding: 15px;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 15px;
}

.tooexpensive {
    border-radius: 16px;
    border: 1px solid rgb(255, 0, 0);
}

.canbuy {
    border-radius: 16px;
    border: 1px solid rgb(0, 255, 0);
}

h1 {
  font-size: 2.5rem;
}

button {
    padding: 15px 32px;
    font-size: large;
}

#timerDiv {
    width:100%;
    height:24px;
    border-radius: 25px;
}

#timerBar {
    width:0%;
    height:24px;
    background-color: #1c9124ff;
    border-radius: 25px;
}

#stickers {
  z-index: -1;
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  /* animation: animStar 150s linear infinite; */
  border-radius: 10%;
}

@keyframes animStar {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
