body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
  /* padding-left: 15%; */
  max-width: 1000px;
  /* max-width: 80%; */
  margin: auto;
  padding: 10px;
}

.astrophotography-body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  color: #c9d1d9;
}

p {
  color: white;
}

.yt-image {
  border-radius: 50%;
}

.yt-channel {
  margin: 10px auto;
  /* justify-content: flex-start; */
  /* align-content: start; */
  display: flex;
  /* align-items: center; */
}

.yt-channel div {
  padding: 20px;
}

.footer-social-link {
    display: inline-block;
    text-align: center;
    width: 1.6rem;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #333; */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.topnav .nav-icon-links a {
  display: inline-block;
  text-align: center;
  width: 4rem;
  padding: 8px;
}

/* Style the links inside the navigation bar */
.topnav .nav a {
  float: left;
  background-color: #1d0648;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: bold;
  margin: 5px;
}

/* Change the color of links on hover */
.topnav .nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav .nav a.active {
  background-color: #5404aa;
  color: white;
}

.topnav .nav a.visited {
  color: white;
}

.nrktbutton {
  font-size: 20px;
  margin: 4px;
}

.redtext {
  color: red;
}

.greentext {
  color: green;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }

  a:link {
    color: #58a6ff;
  }

  a:visited {
    color: #8e96f0;
  }
}

@media (prefers-color-scheme: light) {
  p {
    color: black;
  }

  h1 {
    color: rgb(40, 43, 45);
  }

  .topnav a {
    color: #5404aa;
  }
}


.home-linksquare{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  /* background-color: green; */
}

.home-linksquare-box{
  background-color: #230e56;
  text-align: center;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  padding: 10px;
}


#stars {
  width: 5px;
  height: 5px;
  background: transparent;
  animation: animStar 150s linear infinite;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 200s linear infinite;
}

#stars3 {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 300s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
