body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
  /* padding-left: 15%; */
  max-width: 1000px;
  /* max-width: 80%; */
  margin: auto;
  /* padding: 10px; */
}

.no-link-underline {
  text-decoration: none;
}

.project-box {
  display: flex;
  border-radius: 25px;
  /* animation: auroraBorder 10s ease-in-out alternate infinite; */
}

.project-box img {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 50px;
}

.project-box:hover {
  transition: 0.3s;
  animation: auroraBorder 10s ease-in-out alternate infinite;
}

.project-box-container {
  padding: 10px;
}

.gradient-hypercubing {
  background: linear-gradient(#2d1b35 0%, #090a0f 100%);
}

.gradient-333sim {
  background: linear-gradient(#4b4b4b 0%, #090a0f 100%);
}

.gradient-stellamagnus {
  background: linear-gradient(#23465c 0%, #090a0f 100%);
}

/* aurora animations */
@keyframes auroraBorder {
  0% {box-shadow: 0px -5px 15px rgba(128, 0, 94, 0.8), 0px 4px 15px rgba(32, 220, 241, 0.8);}
  33.33% {box-shadow: 0px 4px 12px rgba(127, 29, 218, 0.8), 5px 10px 25px rgba(241, 32, 32, 0.8);}
  66.66% {box-shadow: 0px 0px 25 rgba(29, 218, 130, 0.8), 15px 5px 15px rgba(255, 0, 255, 0.8);}
  100% {box-shadow: 0px -5px 15px rgba(76, 29, 218, 0.8), 0px 4px 15px rgba(241, 123, 32, 0.8);}
}

@keyframes auroraText {
  0% {text-shadow: 0px -15px 15px rgba(128, 0, 94, 0.8), 0px -4px 15px rgba(32, 220, 241, 0.8);}
  33.33% {text-shadow: 0px 4px 12px rgba(127, 29, 218, 0.8), 5px -10px 25px rgba(241, 32, 32, 0.8);}
  66.66% {text-shadow: 0px 0px 50px rgba(29, 218, 130, 0.8), 15px -5px 15px rgba(255, 0, 255, 0.8);}
  100% {text-shadow: 0px -15px 15px rgba(76, 29, 218, 0.8), 0px -4px 15px rgba(241, 123, 32, 0.8);}
}

.astrophotography-body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  height: 100vh;
  background-repeat: repeat;
}

h1 {
  color: #c9d1d9;
  animation: auroraText 10s ease-in-out alternate infinite;
  font-size: 5.5rem;
}

p {
  color: white;
}

.yt-image {
  border-radius: 50%;
}

.yt-channel {
  margin: 10px auto;
  /* justify-content: flex-start; */
  /* align-content: start; */
  display: flex;
  /* align-items: center; */
}

.yt-channel div {
  padding: 20px;
}

.footer-social-link {
    display: inline-block;
    text-align: center;
    width: 1.6rem;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #333; */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.topnav .nav-icon-links a {
  display: inline-block;
  text-align: center;
  width: 4rem;
  padding: 8px;
}

/* Style the links inside the navigation bar */
.topnav .nav a {
  float: left;
  background-color: #1d0648;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: bold;
  margin: 5px;
  transition: 0.3s;
}

/* Change the color of links on hover */
.topnav .nav a:hover {
  background-color: #ddd;
  color: black;
  translate: 0em 0.25em;
  transition: 0.3s;
}

/* Add a color to the active/current link */
.topnav .nav a.active {
  background-color: #5404aa;
  /* animation: auroraBorder 10s ease-in-out alternate infinite; */
  color: white;
}

.topnav .nav a.visited {
  color: white;
}

.nrktbutton {
  font-size: 20px;
  margin: 4px;
}

.redtext {
  color: red;
}

.greentext {
  color: green;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }

  a:link {
    color: #58a6ff;
  }

  a:visited {
    color: #8e96f0;
  }
}

@media (prefers-color-scheme: light) {
  p {
    color: black;
  }

  h1 {
    color: rgb(40, 43, 45);
  }

  .topnav a {
    color: #5404aa;
  }
}


.home-linksquare{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  /* background-color: green; */
}

.home-linksquare-box{
  /* animation: auroraBorder 10s ease-in-out alternate infinite; */

  background-color: rgb(34,14,86,0.85);
  text-align: center;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  padding: 10px;
}


#stars {
  z-index: -1;
  position: relative;
  width: 5px;
  height: 5px;
  background: transparent;
  animation: animStar 150s linear infinite;
}

#stars2 {
  z-index: -1;
  position: relative;
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
}

#stars3 {
  z-index: -1;
  position: relative;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
