
body {
  background-image: linear-gradient(to right, #cccccccc 1px, transparent 1px),
                    linear-gradient(to bottom, #cccccccc 1px, transparent 1px);
  background-size: 200px 200px;
}

h1 {
    animation: none;
    font-size: 2rem;
    text-align: center;
}

canvas {
    max-width: 800px;
    max-height: 800px;
    width: 80vmin;
    height: 80vmin;
    border: 10px solid white;
    border-radius: 0.2em;
    /* margin-top: 4em; */
}

.centered-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(255, 255, 255);
    margin: 2vmin;
    padding: 2vmin 4vmin;
    text-align: center;
    cursor: pointer;
    font-size: calc(max(1.5em,2vmin));
    text-decoration: none;
    border-radius: 0.2em;
}

.destructive {
    background-color: rgb(252, 125, 125);
}

button span {
    vertical-align: bottom;
    padding-right: 0.2em;
}

button img {
    width: calc(max(70%,2em));
    height: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

#newGameMenu {
    z-index: 5;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 15px;
    background: linear-gradient(#4b4b4bee 0%, #090a0fee 100%);
    border-radius: 0.2em;
}
